.result
  a(class="#{_id}", href="/details/" + _id, target="_BLANK")
    .row
      .span4
        h4.name= name
        .description= description
      .span2
        .image-clip
          if image_url
            img(src=image_url)
          else
            img(src="/img/default-food.gif")

script
  var popover = require('/client/popover');
  popover('#{_id}','#{name}', !{JSON.stringify(ingredients)});
