.result
  a(class="#{_id}", href="/details/" + _id)
    .row
      .span4
        .name= name
        .description= description
      .span2
        if image_url
          img(src=image_url)
        else
          img(src="/img/default-food.gif")

script
  var popover = require('/client/popover');

  popover('#{_id}','#{name}', !{JSON.stringify(ingredients)});
